*{
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.patient-page{
    height: fit-content;
    margin-bottom: 0px;
}

.logo{
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.logo-img{
    width: 200px;
}

.nav{
    background-color: #E8F3F1;
    height: 70px;
    padding: 10px;
}

.container-1{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}


.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item:hover{
    cursor: pointer;
}

.item p{
    font-size: 12px;
    font-weight: bold;
}

.emerg-box-2{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item img{
    width: 40px;
}